<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>servlet.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie</display-name>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>servlet.Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie1</display-name>
    <servlet-name>Cookie1</servlet-name>
    <servlet-class>servlet.Cookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie1</servlet-name>
    <url-pattern>/Cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookshop</display-name>
    <servlet-name>Bookshop</servlet-name>
    <servlet-class>bookshop.Bookshop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookshop</servlet-name>
    <url-pattern>/Bookshop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookeshop_setcookie</display-name>
    <servlet-name>Bookeshop_setcookie</servlet-name>
    <servlet-class>bookshop.Bookeshop_setcookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookeshop_setcookie</servlet-name>
    <url-pattern>/Bookeshop_setcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseServlet</display-name>
    <servlet-name>ChineseServlet</servlet-name>
    <servlet-class>servlet.ChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseServlet</servlet-name>
    <url-pattern>/ChineseServlet</url-pattern>
  </servlet-mapping>
</web-app>